# version: '3.7'

# services:
#   web:
#     build: .
#     command: uvicorn main:app --host 0.0.0.0 --port 8080
#     volumes:
#       - .:/app
#     ports:
#       - 8080:8080
#   web_telegram:
#     build: .
#     command: python telegram-server.py
#     volumes:
#       - .:/app
#     depends_on:
#       - web

#   # ngrok:
#   #   build:
#   #     context: .
#   #     dockerfile: Dockerfile2
#   #   ports:
#   #     - 4551:4551
#   #   links:
#   #     - web
#   #   environment:
#   #     - DOMAIN=web
#   #     - PORT=8080



version: '3'

services:
  web:
    build: .
    command: uvicorn  fast_api.main:app --host 0.0.0.0 --port 8080
    volumes:
      - .:/app
    ports:
      - 8080:8080

  web_telegram:
    build: .
    command: python bot_telegram/telegram_server.py
    volumes:
      - .:/app
    depends_on:
      - web
    env_file:
      - .env
